.Card {
  background-color: #eee;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: 1600px 1200px;
  font-size: 0.8em;
}

.doublerow {
  grid-row: span 2;
}

.doubleheight {
  grid-column: span 2;
}
