.Card {
  background-color: #eee;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: 1600px 1200px;
  font-size: 0.8em;
  transition: background 0.2s linear;
}

.Card:nth-of-type(1) { transition-delay: 0.025s; }
.Card:nth-of-type(2) { transition-delay: 0.05s; }
.Card:nth-of-type(3) { transition-delay: 0.075s; }
.Card:nth-of-type(4) { transition-delay: 0.1s; }
.Card:nth-of-type(5) { transition-delay: 0.125s; }
.Card:nth-of-type(6) { transition-delay: 0.15s; }
.Card:nth-of-type(7) { transition-delay: 0.175s; }
.Card:nth-of-type(8) { transition-delay: 0.2s; }
.Card:nth-of-type(9) { transition-delay: 0.225s; }
.Card:nth-of-type(10) { transition-delay: 0.25s; }
.Card:nth-of-type(11) { transition-delay: 0.275s; }
.Card:nth-of-type(12) { transition-delay: 0.3s; }
.Card:nth-of-type(13) { transition-delay: 0.325s; }
.Card:nth-of-type(14) { transition-delay: 0.35s; }
.Card:nth-of-type(15) { transition-delay: 0.375s; }

.doublerow {
  grid-row: span 2;
}

.doubleheight {
  grid-column: span 2;
}

/* for-phone-only */
@media (max-width: 599px) { 
  .doublerow    { grid-row: span 1; }
  .doubleheight { grid-column: span 1; }
}

/* for-tablet-portrait-up */
@media (min-width: 600px) { 
  .doublerow    { grid-row: span 1; }
  .doubleheight { grid-column: span 1; }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) { 
  .doublerow    { grid-row: span 2; }
  .doubleheight { grid-column: span 2; }
}

/* for-desktop-up */
@media (min-width: 1200px) { 
  .doublerow    { grid-row: span 2; }
  .doubleheight { grid-column: span 2; }
}

/* for-big-desktop-up */
@media (min-width: 1800px) { 
  .doublerow    { grid-row: span 2; }
  .doubleheight { grid-column: span 2; }
}
