.App {
  height: calc(100vh - 10px);
  padding: 5px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* for-phone-only */
@media (max-width: 599px) { 
  .App { 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
 }

/* for-tablet-portrait-up */
@media (min-width: 600px) { 
  .App { 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
 }

/* for-tablet-landscape-up */
@media (min-width: 900px) { 
  .App { 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
 }

/* for-desktop-up */
@media (min-width: 1200px) { 
  .App { 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
 }

/* for-big-desktop-up */
@media (min-width: 1800px) { 
  .App { 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
 }
